body {
    position: absolute;
    top: 60px;
    font-size: calc(100% / 64)px;
}
p {
    padding: 21px;
}

.printer-exclusive {
    visibility: hidden;
}

@media (prefers-color-scheme: light) {

    body {
        background-color: #fff;
        color: #0f0;
    }
    header {
        position: fixed;
        color: #0f0;
        width: 100%;
        top: 0px;
        background-color: rgb(255, 100, 250);
        border-bottom: 15px solid rgb(0, 0, 0);
        font-style: italic;
        font-size: 50px;
        margin: -10px;
        margin-right: 30px;
        margin-bottom: 15px;
        padding: 7px;
        text-decoration: none;
        z-index: 1;
    }

    header a:link, header a:visited {
    color: #0f0 !important;
        text-decoration: none !important;
        background-color: none !important;
    }
        
    footer {
        background-color: #faf;
        border-top: 15px solid #000;
        font-style: italic;
        margin: -10px;
        /*padding: 7px;*/
        position: fixed;
        margin-top: 50px;
        padding: 20px;
        bottom: 0px;
        width: 100%;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --header-footer-background: #f0f;
        --header-footer-color: #0f0;
        --link-color: #0f0;
        --visited-color: #0af;
        --hover-color: #fff;
        --active-background-color: #fff;
        --ul-color: #0f0;
        --background-color: #000;
        --color: #fff;
    }
    ul {
        border-left: 5px solid var(--ul-color);
        list-style-type: none;
        padding: 10px 20px;
    }
    a:link {
        color: var(--link-color);
    }
    a:visited {
        color: var(--visited-color);
    }
    a:hover {
        color: var(--hover-color);
    }
    a:active {
        background-color: var(--active-background-color);
    }
    body {
        background-color: var(--background-color);
        color: var(--color);
    }
    header {
        position: fixed;
        color: var(--header-footer-color);
        width: 100%;
        top: 0px;
        background-color: var(--header-footer-background);
        border-bottom: 15px solid #0f0;
        font-style: italic;
        font-size: 50px;
        margin: -10px;
        margin-right: 30px;
        margin-bottom: 15px;
        padding: 7px;
        text-decoration: none;
        z-index: 1;
    }

    header a:link, header a:visited {
        color: var(--header-footer-color) !important;
        text-decoration: none !important;
        background-color: none !important;
    }
        
    footer {
        background-color: var(--header-footer-background);
        border-top: 15px solid var(--header-footer-color);
        color: var(--header-footer-color);
        font-style: italic;
        margin: -10px;
        /*padding: 7px;*/
        position: fixed;
        margin-top: 50px;
        padding: 20px;
        bottom: 0px;
        width: 100%;
    }
}

@media only printer {
    .printer-hide {
        visibility: hidden !important;
    }

    .pronter-exclusive {
        visibility: visible !important;
    }
}

@font-face {
    font-family: "finger-spelling";
    src: url('/type-faces/finger-spelling.svg') format("svg");
}

p {
    font-family: "finger-spelling";
}
